.container {
  width: 100%;
  display: flex;
}

.domestic {
  height: 2.5rem;
  font-size: 1.3rem;
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: #fcedda;
  color: #ee4e34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.domestic:hover {
  cursor: pointer;
  font-weight: 600;
  color: #da5a2a;
}

.domesticTitle {
  display: inline-block;
}

.domesticTitle:active {
  transform: translateY(3px);
}

.overseas {
  height: 2.5rem;
  font-size: 1.3rem;
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: #fcedda;
  color: #ee4e34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overseas:hover {
  cursor: pointer;
  font-weight: 600;
  color: #da5a2a;
}

.overseasTitle {
  display: inline-block;
}

.overseasTitle:active {
  transform: translateY(3px);
}

.domestic.selected {
  background-color: #ee4e34;
  color: #fcedda;
}

.overseas.selected {
  background-color: #ee4e34;
  color: #fcedda;
}
